body {
  background-color: #fafafa;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.misc {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
}

.unsupported {
  display: none;
}
